*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    color: white;
    text-align: center;
    padding-top: 20px;
}

/*************************** Pagina INDEX.HTML ***************************/
#titulo-index{
    font-size: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
}

.card:hover{
    transition: 1;
    -webkit-box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
}

.imagens-index{
    width: 450px;
    height: 300px;
}

.texto-index{
    width: 430px;
    text-align: justify;
    color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/*************************** Pagina DOLAR.HTML ***************************/
#titulo-dolar{
    font-size: 40px;
}

#imagem-dolar{
    margin-left: 10px;
    height: 500px;
    width: 500px;
}

/**************************** Pagina CEO.HTML ****************************/
.input-cep {
    margin: 5px;
}