*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    color: white;
    text-align: center;
    padding-top: 20px;
}


/******************************** FOOTER *********************************/
footer{
    width: 100%;
    height: 150px;
    background-color: white;

    /* Para ficar no centro-row */
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a{
    font-size: 22px;
    margin-top: 25px;
}
footer img{
    width: 40px;
    height: 40px;
}
.copy{
    font-size: 17px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    width: 450px;
}
.redes-sociais, .links{
    display: flex;
    justify-content: space-around;
}


/********************************* MAIN **********************************/
main{
    position: relative; 
    height: 840px;
}
main:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: url(../img/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main-index{
    background-image: linear-gradient(180deg, #ff0feb 0, #e719e5 16.67%, #c41ddb 33.33%, #a01ecd 50%, #7c1ebe 66.67%, #581db0 83.33%, #301ca2 100%);
}
#main-dolar{
    background-image: linear-gradient(180deg, #b2f34f 0, #95ed59 12.5%, #76e561 25%, #52da69 37.5%, #1ecd6f 50%, #00c074 62.5%, #00b479 75%, #00aa7e 87.5%, #00a184 100%);
}
#main-cep{
    background-image: linear-gradient(180deg, #ffff5c 0, #fff954 25%, #d5e04d 50%, #aec646 75%, #8cb041 100%);
}


/*************************** Pagina INDEX.HTML ***************************/
#titulo-index{
    font-size: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 430px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
}
.card:hover{
    transition: 150ms;
    -webkit-box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 35px 30px rgba(0,0,0,0.16);
}
.imagens-index{
    width: 450px;
    height: 300px;
}
.texto-index{
    width: 430px;
    text-align: justify;
    color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.row-index{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
@media(max-width: 1790px){
    .row-index{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-index{
        height: 1500px;
    }
    #card-cep{
        margin-top: 70px;
    }
    .card{
        height: 460px;
    }
    .texto-index{
        font-size: 18px;
    }

    /* TENTAR USAR PARA OS ELEMENTOS NÃO INVADIR O FOOTER */
    header, footer {
        padding: 10px;
    }
}


/*************************** Pagina DOLAR.HTML ***************************/
#titulo-dolar{
    font-size: 40px;
}
#imagem-dolar{
    margin-left: 10px;
    height: 500px;
    width: 500px;
    margin-top: 10px;
}
.row-dolar{
    display: flex;
    flex-direction: row;
}
.inf{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: white;
}


/**************************** Pagina CEP.HTML ****************************/
.input-cep {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
input, button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

fieldset div{
    display: flex;
    justify-content: center;
}

#main-cep{
    display: flex;
    justify-content: center;
}

.info{
    display: none;
}