* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: white;
    text-align: center;
    padding-top: 20px;
}

#titulo-index,
#titulo-cep {
    font-size: 30px;
}


/******************************** FOOTER *********************************/
footer {
    width: 100%;
    height: 150px;
    background-color: white;

    /* Para ficar no centro-row */
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    font-size: 22px;
    margin-top: 25px;
}

footer img {
    width: 40px;
    height: 40px;
}

.copy {
    font-size: 17px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 450px;
}

.redes-sociais,
.links {
    display: flex;
    justify-content: space-around;
}


/********************************* MAIN **********************************/
main {
    position: relative;
    height: 860px;
}

main:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: url(../img/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main-index {
    background-image: linear-gradient(180deg, #ff0feb 0, #e719e5 16.67%, #c41ddb 33.33%, #a01ecd 50%, #7c1ebe 66.67%, #581db0 83.33%, #301ca2 100%);
}

#main-dolar {
    background-image: linear-gradient(180deg, #b2f34f 0, #95ed59 12.5%, #76e561 25%, #52da69 37.5%, #1ecd6f 50%, #00c074 62.5%, #00b479 75%, #00aa7e 87.5%, #00a184 100%);
}

#main-cep {
    background-image: linear-gradient(180deg, #ffff5c 0, #fff954 25%, #d5e04d 50%, #aec646 75%, #8cb041 100%);
}

#main-temperatura{
    background-image: linear-gradient(180deg, #ffff5c 0, #fff954 25%, #d5e04d 50%, #aec646 75%, #8cb041 100%);
}


/*************************** Pagina INDEX.HTML ***************************/
.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 430px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
}

.card:hover {
    transition: 150ms;
    -webkit-box-shadow: 0px 0px 35px 30px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 35px 30px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 35px 30px rgba(0, 0, 0, 0.16);
}

.imagens-index {
    width: 450px;
    height: 300px;
}

.texto-index {
    width: 430px;
    text-align: justify;
    color: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.row-index {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

@media(max-width: 1790px) {
    .row-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-index {
        height: 2020px;
    }

    #card-cep,
    #card-envioFormulario {
        margin-top: 70px;
    }

    .card {
        height: 460px;
    }

    .texto-index {
        font-size: 18px;
    }

    /* TENTAR USAR PARA OS ELEMENTOS NÃO INVADIR O FOOTER */
    header,
    footer {
        padding: 10px;
    }
}

@media(max-width: 900px) {
    #main-index {
        height: 2250px;
    }
}


/*************************** Pagina DOLAR.HTML ***************************/
#titulo-dolar {
    font-size: 40px;
}

#imagem-dolar {
    margin-left: 10px;
    height: 500px;
    width: 500px;
    margin-top: 10px;
}

.row-dolar {
    display: flex;
    flex-direction: row;
}

.inf {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: white;
}

#informacoesDolar {
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

@media(max-width: 1345px) {
    .row-dolar {
        display: flex;
        flex-direction: column;
    }

    #main-dolar {
        height: 1250px;
    }

    #imagem-dolar {
        margin: 0 auto;
        display: flex;
        margin-top: 30px;
    }

    #informacoesDolar {
        margin-top: 120px;
    }
}

@media(max-width: 530px) {
    #imagem-dolar {
        width: 100%;
        margin-top: 50px;
    }

    .inf {
        width: 100%;
    }

    #informacoesDolar {
        margin-top: 100px;
    }
}


/**************************** Pagina CEP.HTML ****************************/
.principal {
    display: flex;
    flex-direction: column;
}

#titulo-cep {
    margin-bottom: 50px;
}

.input-cep {
    display: flex;
    justify-content: space-around;
}

.input-cep input {
    width: 40%;
}

input,
button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.informacao div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacao {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    /* width: 80%; */
}

#main-cep {
    display: flex;
    flex-direction: column;
}

.informacao div input {
    margin: 10px 0 10px 0;
    width: 50%;
}

.info {
    display: none;
}


/************************ ENVIOFORMULARIO.HTML *************************/
#main-envioFormulario {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
}

#formulario div {
    margin-top: 20px;
}

#formulario label{
    display: none;
}

#formulario input{
    padding: 15px;
}

#cpf{
    width: 60%;
}
#idade{
    width: 23%;
}

@media print{
    footer{
        display: none;
    }

    #formulario label{
        display: block;
    } 

    button{
        display: none;
    }
}


/************************** TEMPERATURA.HTML ***************************/
#main-temperatura{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: -250px;
}

.pesquisa-temp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cidade{
    width: 100%;
    padding: 20px 10px 20px 10px;
}

#pesquisa{
    margin-top: 30px;
    width: 50%;
    padding: 20px;
    border-radius: 50px;
}

@media(max-width: 1025px) {
    #main-temperatura{
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-temperatura img{
        width: 80%;
    }

    .content{
        margin-top: -150px;
    }
}

@media(max-width: 800px) {
    .img-temperatura img{
        width: 100%;
    }

    .content{
        margin-top: -330px;
    }
}
