@import './variaveisEFuncoes';

$corEcommerce: linear-gradient(to bottom, #000000, #434343);


#body-ecommerce{
    background: $corEcommerce;

    #main-ecommerce {
        @include displayFlex(column, center, none);
        height: 690px;
    
        .titulo {
            @include titulo(rgb(224, 224, 224), 20px, 30px);
            text-align: center;
            margin-bottom: 50px;
        }
    
        .inf {
            @include titulo(rgb(224, 224, 224), 20px, 25px);
            @include displayFlex(row, space-around, none);

            #imagem-nirvana,
            #imagem-queen,
            #imagem-guns{
                display: flex;
                justify-content: center;
            }
        }
    }
    
    @media(max-width: 1080px) {
        #main-ecommerce{
    
            height: 1800px;
    
            .titulo {
                margin-top: 10px
            }
    
            .inf {
                @include displayFlex(column, space-around, center);
                height: 100%;
            }
        }
    }    
}
