@import './variaveisEFuncoes';

#main-index{

    height: 1000px;
    height: 100%;
    margin-bottom: 70px;

    .cabeca-page{

        height: 500px;
        background-image: $corIndex;
        @include displayFlex(row, center, none);

        #texto-index{
            width: 50%;

            h1{
                @include titulo(white, 30px, 40px);
                padding-bottom: 30px;
                text-align: center;
            }

            p{
                @include titulo(rgb(201, 201, 201), 30px, 18px);
                padding-bottom: 30px;
            }

        }

        aside{
            z-index: 1000;
        }
    }


    #cards{        

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;

        .card{

            margin: 0 auto;

            width: 300px;
            margin-top: 70px;
            padding: 10px;
            border-radius: 15px;


            &:hover {
                transition: 150ms;
                @include boxShadow();
            }

            .imagens-index{
                height: 300px;
                width: 300px;
            }

            .texto-card{
                @include titulo(black, 0, 18px);
            }
        }
    }
}

@media(max-width: 1040px) {
    #main-index{

        #cards{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
        }
    }
}

@media(max-width: 1265px) {
    #main-index{

        .cabeca-page{
            height: 400px;
            padding-left: 10px;

            img{
                width: 400px;
            }
        }
    }
}

@media(max-width: 954px) {
    #main-index{

        .cabeca-page{

            #texto-index{
                width: 100%;
            }
        }
    }
}

@media(max-width: 860px) {
    #main-index{

        .cabeca-page{

            height: 400px;

            img{
                display: none;
            }
        }
    }
}

@media(max-width: 720px) {
    #main-index{

        #cards{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto;
        }
    }
}