@import './variaveisEFuncoes';

#main-jsonInterno {

    @include displayFlex(none, center, none);
    height: 650px;
    background-color: $corJsonInterno;

    .tela {
        margin-top: 20px;

        input,
        button {
            padding: 10px;
            border: 1px solid black;
        }

        button {
            border-radius: 5px;
            background-color: rgba(251, 255, 12, 0.8);
        }

        button:hover {
            transition: 50ms;
            background-color: rgba(251, 255, 12, 0.5);
        }

        .titulo {
            @include displayFlex(none, center, center);
            @include titulo(white, 30px, 30px);
            text-align: center;
        }

        .areaInput {
            @include displayFlex(none, space-around, none);
            margin-top: 50px;
        }

        #dados {
            background-color: rgba(251, 255, 12, 0.7);
            width: 90%;
            margin: 0 auto;
            display: flex;
            @include boxShadow();
            display: none;

            .dados-interior {
                padding: 5px 5px 5px 5px;
                margin-top: 100px;

                .titulo {
                    @include displayFlex(none, center, center);
                    @include titulo(white, 30px, 20px);
                    padding-bottom: 20px;
                    // text-align: center;
                }
            }
        }
    }
}