@import './variaveisEFuncoes';

$corJsonInterno: #e0e0e0;

#body-jsonInterno{
    background-color: $corJsonInterno;

    #main-jsonInterno {

        @include displayFlex(none, center, none);
        height: 780px;
    
        .tela {
            margin-top: 20px;
    
            input,
            button {
                padding: 10px;
                border: 1px solid black;
            }
    
            button {
                border-radius: 5px;
                background-color: rgba(251, 255, 12, 0.8);
            }
    
            button:hover {
                transition: 400ms;
                background-color: rgba(251, 255, 12, 0.5);
            }
    
            .titulo {
                @include displayFlex(none, center, center);
                @include titulo(white, 30px, 30px);
                text-align: center;
            }
    
            .areaInput {
                @include displayFlex(none, space-around, none);
                margin-top: 50px;
            }
    
            #dados {
                background-color: rgba(251, 255, 12, 0.7);
                width: 90%;
                margin: 0 auto;
                display: flex;
                -webkit-box-shadow: 9px 11px 18px -4px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 9px 11px 18px -4px rgba(0, 0, 0, 0.75);
                box-shadow: 9px 11px 18px -4px rgba(0, 0, 0, 0.75);
                display: none;
    
                .dados-interior {
                    padding: 5px 5px 5px 5px;
                    margin-top: 100px;
    
                    .titulo {
                        @include displayFlex(none, center, center);
                        @include titulo(rgb(255, 0, 0), 30px, 20px);
                        padding-bottom: 20px;
                        // text-align: center;
                    }

                    .row{
                        @include displayFlex(row, space-around, center);
                    }
                }
            }
        }
    }
}

