* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* SERVE PARA MANTER O FOOTER SEMPRE EMBAIXO */
html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

/*********************************************/
/********************Cores do FOOTER********************/
footer {
  width: 100%;
  height: 150px;
}
footer .links a {
  font-size: 22px;
  margin-top: 25px;
}
footer img {
  width: 40px;
  height: 40px;
}
footer .copy {
  width: 100%;
  font-size: 17px;
  margin-top: 40px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 450px;
}
footer .flex {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  background: url(../img/background-pontos.png), rgb(199, 199, 199);
}
footer .espaco {
  width: 100%;
  height: 50px;
  background-color: rgb(41, 41, 41);
  background: url(../img/background-pontos.png), rgb(41, 41, 41);
}
footer .redes-sociais,
footer .links {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: none;
}

@media (max-width: 460px) {
  .flex div {
    width: 100%;
  }
}
#main-index {
  height: 1000px;
  height: 100%;
  margin-bottom: 70px;
}
#main-index .cabeca-page {
  height: 500px;
  background-image: linear-gradient(180deg, #ff0feb 0, #e719e5 16.67%, #c41ddb 33.33%, #a01ecd 50%, #7c1ebe 66.67%, #581db0 83.33%, #301ca2 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
#main-index .cabeca-page #texto-index {
  width: 50%;
}
#main-index .cabeca-page #texto-index h1 {
  color: white;
  padding-top: 30px;
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
}
#main-index .cabeca-page #texto-index p {
  color: rgb(201, 201, 201);
  padding-top: 30px;
  font-size: 18px;
  padding-bottom: 30px;
}
#main-index .cabeca-page aside {
  z-index: 1000;
}
#main-index #cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
#main-index #cards .card {
  margin: 0 auto;
  width: 300px;
  margin-top: 70px;
  padding: 10px;
  border-radius: 15px;
}
#main-index #cards .card:hover {
  transition: 150ms;
  box-shadow: 0px 0px 35px 30px rgba(0, 0, 0, 0.16);
}
#main-index #cards .card .imagens-index {
  height: 300px;
  width: 300px;
}
#main-index #cards .card .texto-card {
  color: black;
  padding-top: 0;
  font-size: 18px;
}

@media (max-width: 1040px) {
  #main-index #cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
@media (max-width: 1265px) {
  #main-index .cabeca-page {
    height: 400px;
    padding-left: 10px;
  }
  #main-index .cabeca-page img {
    width: 400px;
  }
}
@media (max-width: 954px) {
  #main-index .cabeca-page #texto-index {
    width: 100%;
  }
}
@media (max-width: 860px) {
  #main-index .cabeca-page {
    height: 400px;
  }
  #main-index .cabeca-page img {
    display: none;
  }
}
@media (max-width: 720px) {
  #main-index #cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
}
@media (max-width: 460px) {
  #main-index .cabeca-page {
    height: 450px;
    padding-right: 10px;
    text-align: justify;
  }
}
#body-temperatura {
  background-image: linear-gradient(180deg, #ffff5c 0, #fff954 25%, #d5e04d 50%, #aec646 75%, #8cb041 100%);
}
#body-temperatura #main-temperatura {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
#body-temperatura #main-temperatura .content .txt-temp {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 30px;
  font-size: 20px;
}
#body-temperatura #main-temperatura .content .pesquisa-temp {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin-top: 100px;
}
#body-temperatura #main-temperatura .content .pesquisa-temp input, #body-temperatura #main-temperatura .content .pesquisa-temp button {
  border: 1px solid black;
  border-radius: 15px;
  height: 60px;
  width: 220px;
}
#body-temperatura #main-temperatura .content .pesquisa-temp button {
  font-size: 17px;
  background-color: white;
}
#body-temperatura #main-temperatura .content .pesquisa-temp button:hover {
  transition: 400ms;
  background-color: orange;
  color: white;
}
#body-temperatura #main-temperatura .content .pesquisa-temp #cidade {
  padding-left: 10px;
}
#body-temperatura #main-temperatura .content .pesquisa-temp #pesquisa {
  margin-top: 10px;
}
#body-temperatura #main-temperatura .content #painel {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin-top: 70px;
}
#body-temperatura #main-temperatura .content #painel #cidateTitulo {
  color: white;
  padding-top: 0;
  font-size: 40px;
  margin-bottom: 10px;
}
#body-temperatura #main-temperatura .content #painel .row {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
@media (max-width: 1025px) {
  #body-temperatura #main-temperatura {
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
  }
  #body-temperatura #main-temperatura .img-temperatura img {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }
}
@media (max-width: 800px) {
  #body-temperatura #main-temperatura {
    height: 1000px;
  }
  #body-temperatura #main-temperatura .img-temperatura img {
    width: 100%;
  }
}

#body-dolar {
  background-image: linear-gradient(180deg, #b2f34f 0, #95ed59 12.5%, #76e561 25%, #52da69 37.5%, #1ecd6f 50%, #00c074 62.5%, #00b479 75%, #00aa7e 87.5%, #00a184 100%);
}
#body-dolar #main-dolar #titulo-dolar {
  margin-bottom: 50px;
  color: white;
  padding-top: 20px;
  font-size: 40px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
}
#body-dolar #main-dolar .row-dolar {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
#body-dolar #main-dolar .row-dolar #imagem #imagem-dolar {
  margin-left: 10px;
  height: 500px;
  width: 500px;
  margin-top: 10px;
}
#body-dolar #main-dolar .row-dolar #informacoesDolar {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#body-dolar #main-dolar .row-dolar #informacoesDolar .inf {
  width: 70%;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1345px) {
  #body-dolar #main-dolar {
    height: 900px;
  }
  #body-dolar #main-dolar .row-dolar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: none;
    align-items: none;
  }
  #body-dolar #main-dolar .row-dolar #imagem #imagem-dolar {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  }
  #body-dolar #main-dolar .row-dolar #informacoesDolar {
    margin-top: 120px;
  }
}
@media (max-width: 530px) {
  #body-dolar #main-dolar .row-dolar #imagem #imagem-dolar {
    width: 100%;
    margin-top: 50px;
    width: 100%;
  }
  #body-dolar #main-dolar .row-dolar #informacoesDolar {
    margin-top: 100px;
  }
  #body-dolar #main-dolar .row-dolar #informacoesDolar .inf {
    width: 100%;
  }
}

#body-cep {
  background-image: linear-gradient(180deg, #ffff5c 0, #fff954 25%, #d5e04d 50%, #aec646 75%, #8cb041 100%);
}
#body-cep #main-cep {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  height: 700px;
}
#body-cep #main-cep .principal {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
#body-cep #main-cep .principal #titulo-cep {
  margin-bottom: 50px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  color: black;
  padding-top: 40px;
  font-size: 30px;
}
#body-cep #main-cep .input-cep {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: none;
}
#body-cep #main-cep .input-cep input {
  width: 40%;
}
#body-cep #main-cep input,
#body-cep #main-cep button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
#body-cep #main-cep button {
  font-size: 17px;
  background-color: white;
}
#body-cep #main-cep button:hover {
  transition: 400ms;
  background-color: orange;
  color: white;
}
#body-cep #main-cep .info {
  display: none;
}
#body-cep #main-cep .info .informacao {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
#body-cep #main-cep .info .informacao div {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
}
#body-cep #main-cep .info .informacao div input {
  margin: 10px 0 10px 0;
  width: 50%;
}
@media (max-width: 505px) {
  #body-cep .principal .titulo {
    text-align: center;
  }
}

#body-ecommerce {
  background: linear-gradient(to bottom, #000000, #434343);
}
#body-ecommerce #main-ecommerce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  height: 690px;
}
#body-ecommerce #main-ecommerce .titulo {
  color: rgb(224, 224, 224);
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
#body-ecommerce #main-ecommerce .inf {
  color: rgb(224, 224, 224);
  padding-top: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
#body-ecommerce #main-ecommerce .inf #imagem-nirvana,
#body-ecommerce #main-ecommerce .inf #imagem-queen,
#body-ecommerce #main-ecommerce .inf #imagem-guns {
  display: flex;
  justify-content: center;
}
@media (max-width: 1080px) {
  #body-ecommerce #main-ecommerce {
    height: 1800px;
  }
  #body-ecommerce #main-ecommerce .titulo {
    margin-top: 10px;
  }
  #body-ecommerce #main-ecommerce .inf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

#body-jsonInterno {
  background-color: #e0e0e0;
}
#body-jsonInterno #main-jsonInterno {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  height: 780px;
}
#body-jsonInterno #main-jsonInterno .tela {
  margin-top: 20px;
}
#body-jsonInterno #main-jsonInterno .tela input,
#body-jsonInterno #main-jsonInterno .tela button {
  padding: 10px;
  border: 1px solid black;
}
#body-jsonInterno #main-jsonInterno .tela button {
  border-radius: 5px;
  background-color: rgba(251, 255, 12, 0.8);
}
#body-jsonInterno #main-jsonInterno .tela button:hover {
  transition: 400ms;
  background-color: rgba(251, 255, 12, 0.5);
}
#body-jsonInterno #main-jsonInterno .tela .titulo {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}
#body-jsonInterno #main-jsonInterno .tela .areaInput {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: none;
  margin-top: 50px;
}
#body-jsonInterno #main-jsonInterno .tela #dados {
  background-color: rgba(251, 255, 12, 0.7);
  width: 90%;
  margin: 0 auto;
  display: flex;
  box-shadow: 9px 11px 18px -4px rgba(0, 0, 0, 0.75);
  display: none;
}
#body-jsonInterno #main-jsonInterno .tela #dados .dados-interior {
  padding: 5px 5px 5px 5px;
  margin-top: 100px;
}
#body-jsonInterno #main-jsonInterno .tela #dados .dados-interior .titulo {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  padding-top: 30px;
  font-size: 20px;
  padding-bottom: 20px;
}
#body-jsonInterno #main-jsonInterno .tela #dados .dados-interior .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#body-movie {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
#body-movie #main-movie {
  height: 720px;
}
#body-movie #main-movie #titulo-pagina {
  color: brown;
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
#body-movie #main-movie .pesquisa {
  width: 500px;
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#body-movie #main-movie .pesquisa input,
#body-movie #main-movie .pesquisa button {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid black;
  background-color: white;
}
#body-movie #main-movie .pesquisa button:hover {
  transition: 400ms;
  background-color: brown;
  color: #d8d8d8;
}
#body-movie #main-movie .pesquisa input {
  width: 100%;
  margin-right: 10px;
}
#body-movie #main-movie #display {
  display: none;
}
#body-movie #main-movie #display .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  margin-top: 70px;
}
#body-movie #main-movie #display .content .img {
  margin-left: 10px;
}
#body-movie #main-movie #display .content .dados {
  color: black;
  padding-top: 5px;
  font-size: 20px;
  line-height: 28px;
  margin-left: 40px;
  width: 600px;
}
#body-movie #main-movie #display .content .dados #titulo {
  color: brown;
  padding-top: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  #body-movie #main-movie {
    height: 100%;
    padding-bottom: 50px;
  }
  #body-movie #main-movie #display .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #body-movie #main-movie #display .content .dados {
    width: 90%;
  }
  #body-movie #main-movie #display .content .dados #titulo {
    text-align: center;
  }
}
@media (max-width: 530px) {
  #body-movie #main-movie .pesquisa {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */